body {
	padding: 0 0;
	margin: 0 0;
	font-family: "Lato", sans-serif;

	.g-header {
		background-image: url("../images/sprites/header-bg.png");
		height: 800px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.header-logo {
		display: flex;
		align-items: center;
		margin-left: 90px;

		.header-logo-title {
			font-weight: 700;
			font-size: 24px;
			line-height: 16px;
			color: #8D81AC;
			margin-left: 17px;
		}
	}

	.nav-list {
		padding-top: 33px;
		display: flex;
		justify-content: center;
		align-items: center;

		.Bought {
			border: none;
			background: #8D81AC;
			border-radius: 40px;
			width: 145px;
			height: 37px;
			margin-right: 90px;

		}

		.Bought span {
			color: white;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 16px;
			line-height: 17px;
		}
		.Bought span:hover{
			color: #8D81AC;
		}
		.Bought:hover{
			background-color: white;
			cursor: pointer;
		}

		.ul-is-li {
			display: flex;
			flex-direction: row;
			margin-left: auto;
			margin-right: 48px;
			list-style-type: none;

			.nav-list-li:not(:last-child) {
				margin-right: 47px;
			}

			.nav-list-a {
				font-weight: 700;
				color: #8D81AC;
				text-decoration: none;
				font-family: 'Montserrat', sans-serif;
			}
			.nav-list-a:hover{
				color: white;
			}

		}
	}
	.main-info{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 130px;
		.main-info-title{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 82px;
			line-height: 82px;
			color: white;
			margin-bottom: -8px;
		}
		.main-info-p{
			font-family: 'Lato', sans-serif;;
			color: #8D81AC;
			font-weight: 400;
			font-size: 30px;
			line-height: 30px;
			margin-bottom: 19px;
		}
		.main-info-span{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 16px;
			color: #848E97;
		}
	}
}
