.content-wrapper {
	background-image: url("../images/sprites/fork-bg.png");
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;

	.container-fork {
		display: flex;
		justify-content: center;
		margin-top: 100px;
		margin-bottom: 80px;

		.aboutFork-title {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 48px;
			line-height: 50px;
			color: #FFFFFF;

		}
	}

	.card-first-row {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;

		.card {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-right: 80px;
		}

		.about-fork-info {
			text-align: center;
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
			color: #FFFFFF;
		}
	}

	.card-first-row:last-child {
		margin-top: 112px;
	}

	.main-footer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.line {
			background-color: #645766;
			width: 780px;
			height: 2px;
		}

		.post-script {
			font-family: 'Lato', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			color: #A291A5;
			text-align: center;
		}
	}


}
