<main class="content-wrapper">
	<div class="aboutFork">
		<div class="container-fork">
			<h2 class="aboutFork-title">People Are Talking About Fork</h2>

		</div>

		<div class="card-first-row">
			<div class="card">
				<img src="../images/sprites/fork-logo1.png" alt="">
				<p class="about-fork-info">
					Sed vestibulum scelerisque urna, eu finibus leo <br> facilisis sit amet. Proin id dignissim magna.
					<br> Sed varius
					urna et pulvinar venenatis.
				</p>
			</div>
			<div class="card">
				<img src="../images/sprites/fork-logo2.png" alt="">
				<p class="about-fork-info">
					Donec euismod dolor ut ultricies consequat.<br> Vivamus urna ipsum, rhoncus molestie neque ac,<br>
					mollis
					eleifend nibh.
				</p>
			</div>
			<div class="card">
				<img src="../images/sprites/fork-logo3.png" alt="">
				<p class="about-fork-info">
					In efficitur in velit et tempus. Duis nec odio <br>dapibus, suscipit erat fringilla, imperdiet nibh.
					<br>
					Morbi tempus auctor felis ac vehicula.
				</p>
			</div>
		</div>
		<div class="card-first-row">
			<div class="card">
				<img src="../images/sprites/fork-logo4.png" alt="">
				<p class="about-fork-info">
					Sed vestibulum scelerisque urna, eu finibus leo <br> facilisis sit amet. Proin id dignissim magna.
					<br> Sed varius
					urna et pulvinar venenatis.
				</p>
			</div>
			<div class="card">
				<img src="../images/sprites/fork-logo5.png" alt="">
				<p class="about-fork-info">
					Praesent ut eros tristique, malesuada lectus vel,<br> lobortis massa. Nulla faucibus lorem id arcu
					<br> consequat faucibus.
				</p>
			</div>
			<div class="card">
				<img src="../images/sprites/fork-logo6.png" alt="">
				<p class="about-fork-info">
					Fusce pharetra erat id odio blandit, nec <br> pharetra eros venenatis. Pellentesque porttitor <br>
					cursus massa et vestibulum.
				</p>
			</div>
		</div>
		<div class="main-footer">
		<p class="post-script">
			Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis
			nibh. Donec eget elit eu libero tincidunt <br> consequat nec elementum orci. Cum sociis natoque penatibus et
			magnis dis parturient montes, nascetur ridiculus mus.
		</p>
			<div class="line"></div>
		</div>
	</div>
</main>
