<header class="g-header">
	<div class="nav-list">
		<div class="header-logo">
			<img src="../images/sprites/header-logo.png" alt="pen">
			<h2 class="header-logo-title">FORKIO</h2>
		</div>
		<ul class="ul-is-li">
			<li class="nav-list-li">
				<a class="nav-list-a" href="">Overview</a>
			</li>
			<li class="nav-list-li">
				<a class="nav-list-a" href="">About Fork</a>
			</li>
			<li class="nav-list-li">
				<a class="nav-list-a" href="">Buying Options</a>
			</li>
			<li class="nav-list-li">
				<a class="nav-list-a" href="">Support</a>
			</li>
		</ul>
		<button class="Bought">
			<span>Buy Now</span>
		</button>
	</div>
	<div class="main-info">
		<h2 class="main-info-title">Fork App</h2>
		<p class="main-info-p">A real gamechanger in the world of web development</p>
		<span class="main-info-span">v. 2.8 For Mac and Windows</span>
	</div>
</header>
